/* 약속네컷 내장 글꼴 — Jua (SIL Open Font License). 본문 글꼴 9종은 앱 파일(HTML) 안에 내장 */
@font-face {
  font-family: 'Jua';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url(jua-korean-400-normal.woff2) format('woff2');
}
@font-face {
  font-family: 'Jua';
  font-style: normal;
  font-display: block;
  font-weight: 400;
  src: url(jua-latin-400-normal.woff2) format('woff2');
}
